.Home{
    display: grid;
    grid-template-columns: 1fr 960px 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
      "bigImg bigImg bigImg"
      "best    best   best"
      "yelpTon yelpTon yelpTon"
      "BrowswBusinesses BrowswBusinesses BrowswBusinesses"
      "MobileApps MobileApps MobileApps";

    .bigImg{
        position: relative;
        grid-area: bigImg;
        width: auto;
        
        height: 60vh;

        background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark-3, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url(/img/restaurants1.jpeg);
        background-size: cover;
        background-position: center;

        &__cont{
            width: 960px;
            height: 100%;
            margin: 0 auto;
            padding: 2.5rem 0;

            &--nav{
                margin-bottom: 5.5rem;
            }

            &--search{
                display: flex;
                flex-direction: column;
                align-items:center ;
                position: relative;

                .logo{
                    margin-bottom: 2rem; 
                }

                .search--bar{
                    position: relative;
                    width: 100%;  
                }

            }
            &--fotoId{
                color: $color-white;
                font-size: 1.2rem;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                bottom: 1%;
                span{
                    font-weight: 700;
                }
            }
        }
    }


    .best{
        grid-area: best;
        background-color: $color-grey-light-1;
        width: 100%;
        height: 40vh;
    }
    .yelpTon{
        grid-area: yelpTon;
        background-color: $color-grey-light-2;
        width: 100%; 
    }
    .BrowswBusinesses{
        grid-area: BrowswBusinesses;
        background-color: $color-grey-light-1;
        width: 100%;
    }
    .MobileApps{
        grid-area: MobileApps;
        background-color: $color-grey-light-2;
        width: 100%; 
    }

}