@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// @import "components/???";   

// @import "layout/header";
// @import "layout/footer";
@import "layout/grid";
@import "layout/Foot.scss";



@import "pages/home/home";
@import "pages/home/item/nav";
@import "pages/home/item/obtione";
@import "pages/home/item/searchBar";
@import "pages/home/item/yelpTon";
@import "pages/home/item/best";
@import "pages/home/item/BrowswBusinesses";
@import "pages/home/item/MobileApps.scss";



@import "components/CategoriaTomLin";
@import "components/MainCard";
@import "components/ReviewOfDay";
@import "components/RewiewStar";
@import "components/Collections";


