.search--obtione{
    margin-top: 1.7rem;
    color: $color-white;
    display: flex;
    width: 60%;
    font-size: 1.5rem;
    font-weight: 500;
    align-items:baseline;
    justify-content: space-between;

    *{
        cursor: pointer;
    }

    i{
        margin-right: 1rem;
    }
}