.search--obtione{
    margin-top: 1.7rem;
    color: $color-white;
    display: flex;
    width: 65%;
    font-size: 1.5rem;
    font-weight: 500;
    align-items:baseline;
    justify-content: space-between;
    letter-spacing: 1px;
    position: absolute;
    top: 130%;
    z-index: 1;
    *{
        cursor: pointer;
    }

    i{
        margin-right: 1rem;
    }

    .obtione--item{
        border: none;
        padding: 0 12px;
        transition: all .2s ease-out;
        &:hover{
            border-bottom:  2px solid $color-white;
            border-radius: 0;
        }
    }
}