.search--bar--top{
    display: flex ;
    justify-content: space-between ;
    align-items:center;
    overflow: hidden;
    border: solid black 1px;
    position: absolute;
    z-index: 5;

    background-color: $color-white;
    height: 42px;
    width: 100%;
    border-radius: 3px;

    samp{
        flex-grow:1;
        display: flex;
        align-items: center ;
        justify-content: center;
        overflow: hidden;
        font-size: 20px;
        font-weight: 800;
        color: $color-grey-dark-3;
        transform: translateX(-15px);
        margin-right: -30px;
    }

    input{
        height: 100%;
        border: none;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .5px;
        font-family: inherit;
        color: rgba(104, 104, 104, 0.904) ;

        &:focus{
            outline: none;
        }
    } 

    .upLine{
        border-left: solid 1px rgba(128, 128, 128, 0.507) ;
        height: 65%;
    }
    .input-1{
        flex-grow:3;
        
    }
    .input-2{
        flex-grow:2;
    }


    .icon{
        flex-grow:1;
        background-color:  $color-primary;
        height: 100%;
     
        display: flex;
        align-items: center ;
        justify-content: center;
        transition: all .2s ease-out;
        cursor: pointer;
        &:hover{
            background-color: $color-primary-light;
        }
      

        i{
            color: $color-white;
            font-size: 25px;
        }
    }
}

.search--bar--d{
   display: flex;
   align-items: flex-start;
   
    .list{
        background-color: $color-white;  
        width: 48.8%;
        border-radius: 3px;
        list-style-type: none;
        transform: translateY(34px);
        z-index: 4;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        li{
            font-size: 20px;
            padding: 10px 15px;
            transition: all .2 ease-out;
            cursor: pointer;

            i{
                margin-right: 5px;
            }

            &:hover{
                background-color:  #4881fc;
                color: $color-white;
            }
        }
    }

    .list2{
        background-color: $color-white;
        width: 43.1%;
        border-radius: 3px;
        list-style-type: none;
        z-index: 2;
        transform: translateY(34px) translateX(113.5%);
        box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        li{
            font-size: 20px;
            padding: 10px 15px;
            cursor: pointer;
            i{
                margin-right: 5px;
            }
        }
        .list-item--1{
            color:  #4881fc;
        }
        
    }


}