.yelpTon{

    .main{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
     
       

       .list{
            border-bottom: solid $color-grey-dark 1px;
            width: 100%;
       }
      

        .list__order{
            display: flex;
            list-style: none;
            justify-content:center ;
         
            li{
                border: none;
                padding: 0 12px;
                transition: all .2s ease-out;
                font-size: 1.7rem;
                cursor: pointer;
                z-index: 2;
                border-radius: 0;
                border-bottom:  4px solid rgba(255, 107, 136, 0);
                &:hover{
                    border-bottom:  4px solid $color-primary-light;
                }
            }

            .on{
                border-bottom:  2px solid $color-primary;
            }
        }

        .hotNnewTitle{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2.7rem;

    
            .hotNnew{
                margin-top: 1.5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .mainL2{
            width: 100%;
            height: 30rem;
            margin-top: 7rem;
            display: flex;
            justify-content: space-between;

            .reviewOfDay{
                width: 65.5%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .Collections{
                width: 31%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        
    }
}

