.CategoriaTomLin{
    width: 217px;
    height: 217px;
    cursor: pointer;

    transition: all .2s ease-out;
    border: solid rgb(209, 209, 209) 1px;
    overflow: hidden;
    &:hover{
        box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        color:  #4881fc;
    }

    margin: 0 2rem;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .item--img{
        width: 100%;
        height: 174px;
    }
    .item--title{
        background-color: $color-grey-light-2;
        height: 43px;
        width: 100%;
        align-items: center;
        font-size: 15px;
        font-weight: 800;
        padding-top: 8px;
    }
}

